#parent {
    -fx-background-color: white;
}

#iconButton {
    -fx-border-radius: 0.0;
    -fx-background-radius: 1.0;
    -fx-background-color: transparent;
}

#iconButton:hover {
    -fx-padding: 8.0 15.0 15.0 15.0;
    -fx-background-color: transparent;
    -fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.75) , 4.0,0.0,0.0,1.0 );
}

#logoLabel {
    -fx-font-family: "Impact";
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: #15688b;
}

#label {
    -fx-font-size: 20px;
}

#coloredLabel {
	-fx-font-size: 18px;
	-fx-text-fill: #15688b;
	-fx-font-weight: bold;
}

#hyperlink {
	-fx-border-color: transparent;
}

#button {
    -fx-padding: 8.0 15.0 15.0 15.0;
    -fx-background-insets: 0.0,0.0 0.0 5.0 0.0, 0.0 0.0 6.0 0.0, 0.0 0.0 7.0 0.0;
    -fx-background-radius: 3.0;
    -fx-background-color: 
        linear-gradient(from 0.0% 93.0% to 0.0% 100.0%, #15688b 0.0%, #15688b 100.0%),
        #4e4780,
        #15688b,
        radial-gradient(center 50.0% 50.0%, radius 100.0%, #15688b, #15688b);
    -fx-effect: dropshadow( gaussian , rgba(0.0,0.0,0.0,0.75) , 4.0,0.0,0.0,1.0 );
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

#button:hover {
    -fx-background-color: 
        linear-gradient(from 0.0% 93.0% to 0.0% 100.0%, #15688b 0.0%, #272343 100.0%),
        #272343,
        #15688b,
        radial-gradient(center 50.0% 50.0%, radius 100.0%, #15688b, #15688b);
}

#button:pressed {
    -fx-padding: 10.0 15.0 13.0 15.0;
    -fx-background-insets: 2.0 0.0 0.0 0.0,2.0 0.0 3.0 0.0, 2.0 0.0 4.0 0.0, 2.0 0.0 5.0 0.0;
}

#comboBox {
    -fx-background-color: transparent;
    -fx-border: solid;
    -fx-border-color: #15688b;
    -fx-border-width: 2px;
    -fx-border-radius: 5;
    -fx-font-size: 15px;
}

#tabPane .tab-header-background {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0, 0.6), 5.0,
		0.0, 0.0, 1.0);
}

#tabPane .tab {
	-fx-border: solid;
    -fx-border-color:#68c2e8;
    -fx-background-color: #68c2e8;
    -fx-border-width: 2;
    -fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0, 0.6), 5.0,
		0.0, 0.0, 1.0);
}

#tabPane .tab .tab-label {
	-fx-text-fill: #15688b;
}

#tabPane .tab-header-area .headers-region .tab :hover{
    -fx-text-fill: #fff;
    -fx-background-color: #68c2e8;
}

#tabPane .tab:selected {
    -fx-background-color: #15688b;
}

#tabPane .tab:selected .tab-label {
    -fx-text-fill: #fff;
}


.jfx-tab-pane .tab-selected-line {
     -fx-background-color: transparent;
}

.jfx-tab-pane .headers-region > .tab > .jfx-rippler {
    -jfx-rippler-fill: rgb(141, 247, 255);
}

#miniButton {
    -fx-background-color: #15688b;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
}

#table {
	-fx-border-style: solid solid solid solid;
	-fx-border-width: 2.0;
	-fx-border-color: #15688b;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0, 0.6), 5.0,
		0.0, 0.0, 1.0);
	-fx-border-radius: 3.0, 3.0, 3.0, 3.0;
}

#table .column-header-background .label {
	-fx-background-color: #15688b;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
	-fx-border-style: solid solid solid solid;
	-fx-border-width: 1.0;
}

#tableLight {
    -fx-border-style: solid solid solid solid;
	-fx-border-width: 2.0;
	-fx-border-color: #68c2e8;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0, 0.6), 5.0,
		0.0, 0.0, 1.0);
	-fx-border-radius: 3.0, 3.0, 3.0, 3.0;
}

#tableLight .column-header-background .label {
	-fx-background-color: #68c2e8;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
	-fx-border-style: solid solid solid solid;
	-fx-border-width: 1.0;
}

#searchToolbar {
	-fx-background-color: transparent;
}

#textField {
	-fx-border-style: solid solid solid solid;
	-fx-border-radius: 5.0, 5.0, 5.0, 5.0;
	-fx-border-width: 1.0;
	-fx-border-color: #15688b;
	-fx-font-style: italic;
	-fx-font-size: 15px;
	-fx-prompt-text-fill: rgb(77, 77, 77);
	-fx-text-fill: #272343;
}

#resultLabel {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #15688b;
    -fx-border: solid;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-border-color: #15688b;
    -fx-border-width: 1px;
    -fx-background-color: #ffffff;
}

#resultToolbar {
    -fx-background-color: #15688b;
    -fx-background-radius: 8;
}